/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "./typography.css";
@import "./theme.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-tx);
  --accent: var(--color-blue-700);      /* OR var(--color-magenta-600), pick as desired */
  --muted: var(--color-light-ui-2);
  --border: var(--color-light-ui-3);
}

html[data-theme="dark"] {
  --background: var(--color-dark-bg);
  --foreground: var(--color-dark-tx);
  --accent: var(--color-yellow-500);   /* OR var(--color-yellow-400), pick as desired */
  --muted: var(--color-dark-ui-2);
  --border: var(--color-dark-ui-3);
}

@theme {
  --font-sans: "-apple-system", system-ui, "Inter", "Helvetica", "Arial", "sans-serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);

}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-sans text-foreground selection:bg-accent/75 selection:text-background;
  }
  
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }

  .intro-p p:first-of-type {
    @apply text-xl font-normal;
  }
}

@utility max-w-app {
  /* @apply max-w-3xl; */
  @apply max-w-5xl xl:max-w-5xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
  /* @apply border-b-2 pb-2; */
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
