---
// import About from "./about.md"; // Import the markdown file as a component
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/config";
import About from "@/pages/about.astro"

---

<About />

<!-- <Layout title={SITE.title}>
  <Header />
  <main id="main-content">
    <section
      id="content"
      class="app-prose mb-28 max-w-app prose-img:border-0"
    >
      <h1 class="text-2xl mb-8 tracking-wider sm:text-3xl">About</h1>
      <div class="flex flex-col md:flex-row gap-8">
        <div class="flex-1 intro-p">
        </div>
        <div class="flex-1 flex items-start">
          <img class="rounded-md" src="public/mark-savage.jpg" alt="mark-savage" />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout> -->