---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    pageTitle?: string;
    description?: string;
    image?: string;
  };
}

// class:list={[
//         "app-prose mb-28 max-w-app prose-img:border-0",
//         frontmatter.image && "flex flex-col md:flex-row  gap-8",
//       ]}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title}`}
  pageTitle={`${frontmatter.pageTitle ?? ""}`}
>
  <Header />
  <main id="main-content">
    <section id="content" class="app-prose mb-28 max-w-app prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <div class={"flex flex-col md:flex-row gap-8 "}>
        <div
          class:list={["intro-p flex-1", !frontmatter.image && "max-w-[66%]"]}
        >
          <slot />
        </div>
        {
          frontmatter.image && (
            <div class="flex flex-1 items-start">
              <img
                class="rounded-md"
                src={frontmatter.image}
                alt={frontmatter.title}
              />
            </div>
          )
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
